@media only screen and (max-width: 800px) {
  #no-more-tables tbody,
  #no-more-tables tr,
  #no-more-tables td {
    display: block;
  }
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #no-more-tables td {
    position: relative;
    padding-left: 30px;
    border: none;
    border-bottom: 1px solid #fff;
  }
  #no-more-tables input[type="checkbox"] {
    position: absolute;
    left: 5px; /* Adjust the left position to align the checkbox */
  }

  #no-more-tables td:before {
    content: attr(data-title);
    position: absolute;
    left: 6px;
    font-weight: bold;
  }

  #no-more-tables tr {
    border-bottom: 1px solid #fff;
  }
}

/* @media (max-width: 768px) {
  table td[data-title="name"],
  table td[data-title="email"] {
    display: none;
  }
} */

/* search bar */
.search-box {
  border-radius: 5px;
}

/* icons style */
.delete-icon {
  cursor: pointer;
  font-size: 30px;
  color: black; /* Initial color of the icon */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.delete-icon:hover {
  color: red; /* Color of the icon on hover */
}
